server {
    listen 80;

    server_name 20.51.212.222;

    client_max_body_size 10G;
    # Route to app1 (port 9000)
    location /logging {
        rewrite ^/logging(/.*)$ $1 break;
        proxy_pass http://127.0.0.1:9000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    # Route to app2 (port 8080)
    location /backend {
        rewrite ^/backend(/.*)$ $1 break;
        proxy_pass http://127.0.0.1:8080;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_read_timeout 600s;
        proxy_send_timeout 600s;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    
    # Serve React App under /pages
    location /misc-frontend/ {
        alias ~/documents/abc/log-viewer/build/;
        index index.html;

        # React Router fallback to index.html
        try_files $uri $uri/ /misc-frontend/index.html;
    }

    # Serve static assets correctly
    location /misc-frontend/static/ {
        alias ~/documents/abc/log-viewer/build/static/;
    }

    # Serve specific files like favicon.ico and manifest.json
    location /misc-frontend/favicon.ico {
        alias ~/documents/abc/log-viewer/build/favicon.ico;
    }

    location /misc-frontend/manifest.json {
        alias ~/documents/abc/log-viewer/build/manifest.json;
    }

    location /misc-frontend/robots.txt {
        alias ~/documents/abc/log-viewer/build/robots.txt;
    }

    # Optional: Gzip compression for better performance
    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml+rss text/javascript;
    gzip_min_length 256;

    location / {
        return 444;
    }   
}