[Unit]
Description=Ollama Server
After=network.target

[Service]
ExecStart=~/documents/abc/ollama-0.4.2/ollama serve
Restart=always
WorkingDirectory=~/documents/abc/ollama-0.4.2
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="HOME=~"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target