::-webkit-scrollbar {
    width: 0.5rem; /* Vertical scrollbar width */
    height: 0.5rem; /* Horizontal scrollbar height */
}

@media (max-width: 1023px) {
    ::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.25rem;
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

:root {
    --panel-height: calc(100vh - 64px - 48px);
    --page-height: calc(100vh - 48px);
    --max-page-content-height: calc(100vh - 7rem);
}

@media (min-width: 600px) {
    :root {
        --panel-height: calc(100vh - 56px - 40px);
        --page-height: calc(100vh - 24px);
        --max-page-content-height: calc(100vh - 84px);
    }
}

@media (min-width: 1024px) {
    :root {
        --panel-height: calc(100vh - 64px - 48px);
        --page-height: calc(100vh - 48px);
        --max-page-content-height: calc(100vh - 7.5rem);
    }
}

.highlight {
    outline: 2px solid red;
    transition: background-color 0.3s ease;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #3b82f6, #ef4444);
    border-radius: 9999px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    border: 2px solid #3b82f6;
    cursor: pointer;
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #3b82f6, #ef4444);
    border-radius: 9999px;
}

input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    border: 2px solid #3b82f6;
    cursor: pointer;
}

input[type='range'].custom-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #3b82f6, #60a5fa);
    border-radius: 4px;
    outline: none;
}

input[type='range'].custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    border: 2px solid #3b82f6;
    cursor: pointer;
    transform: translateY(-4px);
}

input[type='range'].custom-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    border: 2px solid #3b82f6;
    cursor: pointer;
    transform: translateY(-4px);
}

body {
    overflow-wrap: break-word;
}
