::-webkit-scrollbar {
    width: 0.5rem; /* Vertical scrollbar width */
    height: 0.5rem; /* Horizontal scrollbar height */
}

@media (max-width: 1023px) {
    ::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.25rem;
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

:root {
    --panel-height: calc(100vh - 64px - 48px);
    --page-height: calc(100vh - 48px);
    --max-page-content-height: calc(100vh - 7rem);
}

@media (min-width: 600px) {
    :root {
        --panel-height: calc(100vh - 56px - 40px);
        --page-height: calc(100vh - 24px);
        --max-page-content-height: calc(100vh - 84px);
    }
}

@media (min-width: 1024px) {
    :root {
        --panel-height: calc(100vh - 64px - 48px);
        --page-height: calc(100vh - 48px);
        --max-page-content-height: calc(100vh - 7.5rem);
    }
}
