aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
backoff
bcrypt
bertopic
bitermplus
blis
build
cached-property
cachetools
catalogue
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
coloredlogs
confection
contourpy
cycler
cymem
Cython
dataclasses-json
Deprecated
durationpy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etl_utils
fastapi
filelock
flatbuffers
fonttools
frozenlist
fsspec
google-auth
googleapis-common-protos
grpcio
h11
hdbscan
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
humanize
idna
importlib_metadata
importlib_resources
Jinja2
joblib
jsonpatch
jsonpointer
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langcodes
langsmith
language_data
lda
llvmlite
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mmh3
monotonic
mpmath
multidict
murmurhash
mypy-extensions
networkx
numba
numpy
oauthlib
ollama
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pillow
plotly
posthog
preshed
progressbar
propcache
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
Pygments
pynndescent
pyparsing
pypdf
PyPika
pyproject_hooks
pysingleton
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
requests-oauthlib
requests-toolbelt
rich
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
sympy
tenacity
termcolor
tfidf
thinc
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
umap-learn
urllib3
uvicorn
uvloop
wasabi
watchfiles
weasel
websocket-client
websockets
wrapt
yarl
zipp
